@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: white;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(90deg, #b49bff, #ff59f8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 상단 뱃지 박스: 유리 효과 */
.Welcome-box {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(112, 66, 248, 0.45);
  box-shadow: 0 0 20px rgba(112, 66, 248, 0.2);
  border-radius: 20px;
}

/* 메인 버튼: 보라색 광원 효과 */
.button-primary {
  background: linear-gradient(90deg, #7042f8 0%, #00c2ff 100%);
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(112, 66, 248, 0.6);
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



html {
  scroll-behavior: smooth;
}